<div class="banner"><h1>Welcome to the Sinatra Habit Tracker!</h1></div>

<h2>Use this habit tracking app to create new habits you'd like to stick to, and to record which days you completed a habit. <br> Log in or sign up below to get started!</h2>
<div class="center"><a href="/signup">Sign Up</a>
<a href="/login">Log In</a></div>
