<div class="banner">
<h1><div id="bigtext">Welcome to the Sinatra Habit Tracker!</div></h1>
</div>
<h2>Use this habit tracking app to create new habits you'd like to stick to, and to record which days you completed a habit. <br> Log in or sign up below to get started!</h2>
<ul>
  <li><a href="/signup" class="welcome">Sign Up</a> </li>
  <li><a href="/login" class="welcome">Log In</a> </li>
</ul>

