
<div class="banner"><h1>Looking for Inspiration?</h1></div>
<div class="wrapper">
<h2>Here are some habits other users are trying:</h2>

<h4><% @habits.each do |habit| %></h4>
  <p><%=habit.description%> </p>
<% end %>

<a href="/habits/new">Get started on something new!</a> 
</div>