<h1>Show Page</h1>

<%=@habit.description%>

<% if current_user == @habit.user %>
  <a href="/habits/<%=@habit.id%>/edit">Edit Habit</a>
  <form action="/habit/<%=@habit.id%>" method="post">
  <input type="hidden" name="_method" value="Delete">
  <input type="submit" name='' value="Delete this Entry."> 
  </form>
<% end %>